# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/

# Backend
backend/khan-classes*/
.env
*.sqlite

# Python
python/__pycache__
python/venv

# Frontend
.vite
# Frontend - build files
dist/
tsconfig.tsbuildinfo

playground/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
